@keyframes spin {
  from {
     -ms-transform: rotate3d(0, 0, 1, 360deg);
     -moz-transform: rotate3d(0, 0, 1, 360deg);
     -webkit-transform: rotate3d(0, 0, 1, 360deg);
     -o-transform: rotate3d(0, 0, 1, 360deg);
     transform: rotate3d(0, 0, 1, 360deg);
   }
   to {
     -ms-transform: rotate3d(0, 0, 1, 0deg);
     -moz-transform: rotate3d(0, 0, 1, 0deg);
     -webkit-transform: rotate3d(0, 0, 1, 0deg);
     -o-transform: rotate3d(0, 0, 1, 0deg);
     transform: rotate3d(0, 0, 1, 0deg);
   }
}
