.circle {

  &-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-left: 1px solid white;
    width: $outer;
    height: $outer;
    border-radius: $outer;
    -ms-animation: spin $outerRate;
    -moz-animation: spin $outerRate;
    -webkit-animation: spin $outerRate;
    -o-animation: spin $outerRate;
    animation: spin $outerRate;
  }

  &-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid white;
    border-top: 3px solid black;
    border-left: 3px solid black;
    width: $inner;
    height: $inner;
    border-radius: $inner;
    -ms-animation: spin $innerRate;
    -moz-animation: spin $innerRate;
    -webkit-animation: spin $innerRate;
    -o-animation: spin $innerRate;
    animation: spin $innerRate;
    animation-direction: reverse;
  }

  &-inner2 {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-right: 2px solid black;
    width: $inner2;
    height: $inner2;
    border-radius: $inner2;
    -ms-animation: spin $inner2Rate;
    -moz-animation: spin $inner2Rate;
    -webkit-animation: spin $inner2Rate;
    -o-animation: spin $inner2Rate;
    animation: spin $inner2Rate;
  }

  &-inner3 {
    border: 1px solid black;
    border-top: 1px solid white;
    width: $inner3;
    height: $inner3;
    border-radius: $inner3;
    -ms-animation: spin $inner3Rate;
    -moz-animation: spin $inner3Rate;
    -webkit-animation: spin $inner3Rate;
    -o-animation: spin $inner3Rate;
    animation: spin $inner3Rate;
    animation-direction: reverse;
  }
}
